In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df=pd.read_csv('C:/Users/shaha/Desktop/Springboard/Unit11_Project/Cleaned_data.csv')

In [3]:
df.head()

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,Resort Hotel,0,342,2015,July,27,1,0,0,...,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,1,Resort Hotel,0,737,2015,July,27,1,0,0,...,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,2,Resort Hotel,0,7,2015,July,27,1,0,1,...,C,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,3,Resort Hotel,0,13,2015,July,27,1,0,1,...,A,0,No Deposit,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,4,Resort Hotel,0,14,2015,July,27,1,0,2,...,A,0,No Deposit,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
df.select_dtypes('object')

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,July,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,July,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,July,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...
118897,City Hotel,August,BB,BEL,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-06
118898,City Hotel,August,BB,FRA,Online TA,TA/TO,E,E,No Deposit,Transient,Check-Out,2017-09-07
118899,City Hotel,August,BB,DEU,Online TA,TA/TO,D,D,No Deposit,Transient,Check-Out,2017-09-07
118900,City Hotel,August,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07
118901,City Hotel,August,HB,DEU,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-09-07

In [5]:
#Checking the number of categorical variables for each column
print('Hotel type')
print(df['hotel'].value_counts())
print('-----------------------------')
print('arrival_date_month')
print(df['arrival_date_month'].value_counts())
print('-----------------------------')
print('Meal')
print(df['meal'].value_counts())
print('-----------------------------')
print('Country')
print(df['country'].value_counts())
print('-----------------------------')
print('Market_segment')
print(df['market_segment'].value_counts())
print('-----------------------------')
print('Distribution_channel')
print(df['distribution_channel'].value_counts())
print('-----------------------------')
print('Reserved_room_type')
print(df['reserved_room_type'].value_counts())
print('-----------------------------')
print('Assigned_room_type')
print(df['assigned_room_type'].value_counts())
print('-----------------------------')
print('Deposit_type')
print(df['deposit_type'].value_counts())
print('-----------------------------')
print('Customer_type')
print(df['customer_type'].value_counts())
print('-----------------------------')
print('Reservation_status')
print(df['reservation_status'].value_counts())
print('-----------------------------')

Hotel type
City Hotel      79306
Resort Hotel    39596
Name: hotel, dtype: int64
-----------------------------
arrival_date_month
August       13856
July         12628
May          11779
October      11095
April        11045
June         10927
September    10467
March         9739
February      8012
November      6752
December      6728
January       5874
Name: arrival_date_month, dtype: int64
-----------------------------
Meal
BB           91867
HB           14434
SC           10638
Undefined     1165
FB             798
Name: meal, dtype: int64
-----------------------------
Country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
DJI        1
BWA        1
HND        1
VGB        1
NAM        1
Name: country, Length: 177, dtype: int64
-----------------------------
Market_segment
Online TA        56403
Offline TA/TO    24160
Groups           19806
Direct           12449
Corporate         5111
Complementary      734
Aviation           237
Undefined            2
Name: market_segment, dtype: int64
-----------------------------
Distribution_channel
TA/TO        97730
Direct       14483
Corporate     6491
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64
-----------------------------
Reserved_room_type
A    85601
D    19173
E     6497
F     2890
G     2083
B     1118
C      931
H      601
L        6
P        2
Name: reserved_room_type, dtype: int64
-----------------------------
Assigned_room_type
A    73863
D    25166
E     7738
F     3732
G     2539
C     2354
B     2163
H      708
I      357
K      279
P        2
L        1
Name: assigned_room_type, dtype: int64
-----------------------------
Deposit_type
No Deposit    104167
Non Refund     14573
Refundable       162
Name: deposit_type, dtype: int64
-----------------------------
Customer_type
Transient          89174
Transient-Party    25082
Contract            4076
Group                570
Name: customer_type, dtype: int64
-----------------------------
Reservation_status
Check-Out    74745
Canceled     42954
No-Show       1203
Name: reservation_status, dtype: int64
-----------------------------

In [6]:
#checking undefined values of market_segment in the dataframe
df[df['market_segment']=='Undefined']

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40136,40600,City Hotel,1,2,2015,August,32,3,1,0,...,B,0,No Deposit,0,Transient-Party,12.0,0,1,Canceled,2015-08-01
40215,40679,City Hotel,1,1,2015,August,32,5,0,2,...,B,0,No Deposit,0,Transient-Party,18.0,0,2,Canceled,2015-08-04

In [7]:
#checking undefined values of distribtuion_channel in the dataframe
df[df['distribution_channel']=='Undefined']

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
14185,14594,Resort Hotel,0,103,2015,July,28,5,2,3,...,A,0,No Deposit,0,Transient,112.7,1,2,Check-Out,2015-07-10
40136,40600,City Hotel,1,2,2015,August,32,3,1,0,...,B,0,No Deposit,0,Transient-Party,12.0,0,1,Canceled,2015-08-01
40203,40667,City Hotel,1,1,2015,August,32,5,0,2,...,B,0,No Deposit,0,Transient-Party,12.0,0,1,Canceled,2015-08-04
40215,40679,City Hotel,1,1,2015,August,32,5,0,2,...,B,0,No Deposit,0,Transient-Party,18.0,0,2,Canceled,2015-08-04
40696,41160,City Hotel,1,8,2015,August,33,13,2,5,...,B,0,No Deposit,0,Transient-Party,76.5,0,1,Canceled,2015-08-09

In [11]:
#Second step of cleaning, removing undefined values
df=df.drop(index=df[df['market_segment']=='Undefined'].index)
df=df.drop(index=df[df['distribution_channel']=='Undefined'].index)
df=df.drop(columns=['Unnamed: 0'], axis=1)

In [12]:
print('Market_segment')
print(df['market_segment'].value_counts())
print('-----------------------------')
print('Distribution_channel')
print(df['distribution_channel'].value_counts())
print('-----------------------------')

Market_segment
Online TA        56402
Offline TA/TO    24160
Groups           19806
Direct           12447
Corporate         5111
Complementary      734
Aviation           237
Name: market_segment, dtype: int64
-----------------------------
Distribution_channel
TA/TO        97730
Direct       14483
Corporate     6491
GDS            193
Name: distribution_channel, dtype: int64
-----------------------------

In [13]:
df.shape

(118897, 30)

In [16]:
#Saving the dataset to a csv file
df.to_csv('C:/Users/shaha/Desktop/Springboard/Unit11_Project/Cleaned_data II.csv')

In [17]:
dfi=df.drop(['meal','reservation_status','reservation_status_date'],axis=1)

In [18]:
#Generating dummy variables
df_dummy=pd.get_dummies(dfi, columns=['hotel','arrival_date_month','country','market_segment','distribution_channel','reserved_room_type','assigned_room_type','deposit_type','customer_type'], prefix='C')

In [19]:
df_dummy.head(10)

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,C_K,C_L,C_P,C_No Deposit,C_Non Refund,C_Refundable,C_Contract,C_Group,C_Transient,C_Transient-Party
0,0,342,2015,27,1,0,0,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
1,0,737,2015,27,1,0,0,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,7,2015,27,1,0,1,1,0.0,0,...,0,0,0,1,0,0,0,0,1,0
3,0,13,2015,27,1,0,1,1,0.0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,14,2015,27,1,0,2,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
5,0,14,2015,27,1,0,2,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
6,0,0,2015,27,1,0,2,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
7,0,9,2015,27,1,0,2,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
8,1,85,2015,27,1,0,3,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0
9,1,75,2015,27,1,0,3,2,0.0,0,...,0,0,0,1,0,0,0,0,1,0

In [20]:
df_dummy.shape

(118897, 249)

In [21]:
#Scaling and modelling
dfm=df_dummy
X=dfm.drop(['is_canceled'], axis=1).values
y=dfm['is_canceled'].values
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.3, random_state=21)
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)
knn_scaled=KNeighborsClassifier(n_neighbors=5)
knn_scaled.fit(X_train_scaled, y_train)

KNeighborsClassifier()

In my idea, the columns of 'is_canceled', 'meal' and 'reservation_status' can be dependent variables for prediction. The modeling for 'is_canceled' has been performed. So the next step can be modelling for prediction of 'meal' and 'reservation_status'